  
<div className="container" class="body">
                <h3>Stop Search Go</h3>
                <form action="/select" method="post" class="form" >
                    <br/>
                    <label><b>Source</b></label>
                    <select name="source" required>
                        <option value="">-Select-</option>
                        <option value="t">Gsuite</option>
                        <option value="t">0365</option>
                    </select>
                    <input type="text" name="ss" placeholder="enter url" required/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><b>Destination</b></label>
                    <select name="destination" required >
                        <option value="">-Select-</option>
                        <option value="t">Gsuite</option>
                        <option value="t">0365</option>
                    </select>
                    <input type="text" name="d1" placeholder="enter url" /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" > View</button>                    
                </form>
             </div>